In [28]:
import pandas as pd
import os
from pathlib import Path
import glob

In [29]:
#Verzeichnis anpassen

os.chdir('C:/Users/Katharina/Desktop/Weiterbildung/Bootcamp/Bootcamp/Final_project/data')
print(os.getcwd())

C:\Users\Katharina\Desktop\Weiterbildung\Bootcamp\Bootcamp\Final_project\data

#### BeachTeams

In [15]:
BeachTeams_df = pd.read_csv('beach_teams.csv', dtype={'NoPlayer1':'Int64', 'NoPlayer2': 'Int64'})

In [16]:
#NAs entfernen, Variablen umcodieren
BeachTeams_df

,NoPlayer1,NoPlayer2,Name,Rank,EarnedPointsTeam,EarningsTeam
0,100047,117538,Prokopiev/Kuzmichev,NaN,NaN,NaN
1,100088,101634,Heese/Cadieux,17.0,80.0,150000.0
2,100096,115198,Bosma/Ortiz,NaN,NaN,NaN
3,100206,103751,Nalbert/Dulinski,25.0,40.0,100000.0
4,100302,102374,Kjemperud/Skarlund,17.0,80.0,150000.0
...,...,...,...,...,...,...
177138,219123,219124,Affentranger/Eugster,NaN,NaN,NaN
177139,182786,181719,Auziņš G./Liepa,NaN,NaN,NaN
177140,172468,117847,Riko/Take,NaN,NaN,NaN
177141,172468,117847,Riko/Take,NaN,NaN,NaN
177142,162812,153243,Álvarez M/Moreno,NaN,NaN,NaN

#### BeachTournaments

In [20]:
BeachTournament_df1 = pd.read_csv('beach_tournaments1.csv')# dtype={'NoPlayer1':'Int64', 'NoPlayer2': 'Int64'})
BeachTournament_df2 = pd.read_csv('beach_tournaments2.csv')
BeachTournament_df3 = pd.read_csv('beach_tournaments3.csv')
BeachTournament_df4 = pd.read_csv('beach_tournaments4.csv')
BeachTournament_df5 = pd.read_csv('beach_tournaments5.csv')

DF_tournament = pd.concat([BeachTournament_df1, BeachTournament_df2,
                          BeachTournament_df3, BeachTournament_df4,
                          BeachTournament_df5], ignore_index=True, axis =0)

####  List of Players/Teams (beide enthalten)

In [32]:
Df_player = pd.read_csv('player_list.csv', sep=';')

#### Player list (individuell)

In [39]:
import os
import pandas as pd
from pathlib import Path

# Pfad zum Ordner mit den CSV-Dateien
ordner = Path("C:/Users/Katharina/Desktop/Weiterbildung/Bootcamp/Bootcamp/SupervisedML/BeachvolleyballData")  # Passe den Ordnerpfad bei Bedarf an

# Leere Liste für DataFrames
dfs = []

# Alle Dateien im Ordner durchgehen
for dateiname in os.listdir(ordner):
    # Nur CSV-Dateien, die mit "player_list_ind" anfangen
    if dateiname.startswith("player_list_ind") and dateiname.endswith(".csv"):
        dateipfad = ordner / dateiname
        df = pd.read_csv(dateipfad, sep=';')
        dfs.append(df)

# Alle geladenen DataFrames zusammenfügen
df_gesamt = pd.concat(dfs, ignore_index=True)

## Beach Tournaments 2024

In [30]:
Df_tourn1 = pd.read_csv('Tournaments2024_all.csv', sep=';')
Df_tourn2 = pd.read_csv('Tournaments2024_all_part2.csv', sep=';')

DF_tournament_all = pd.concat([Df_tourn1, Df_tourn2])
cols = ['Name','DefaultCity', 'No','Title', 'StartDate', 'StartDateMainDraw',  'EndDateMainDraw']
DF_tournament_short = DF_tournament_all.loc[:,cols]
#

## BeachMatches

In [23]:
BeachMatches = pd.read_csv('BeachMatchList_full.csv', sep=';')

In [27]:
DF_tournament_all.columns

Index(['Actions', 'BuyTicketsUrl', 'Code', 'CountryCode', 'CountryName',
       'Deadline', 'DefaultCity', 'DefaultLocalTimeOffset',
       'DefaultMatchFormat', 'DefaultTimeZone', 'DefaultVenue',
       'DispatchMethod', 'DispatchStatus', 'EarningsCurrencyCode',
       'EndDateFederationQuota', 'EndDateMainDraw', 'EndDateQualification',
       'EntryPointsBaseDate', 'EntryPointsDayOffset', 'EntryPointsTemplateNo',
       'EventAuxiliaryPersons', 'EventLogos', 'FederationCode', 'Gender',
       'IsFreeEntrance', 'IsVisManaged', 'Logos', 'MatchPointsMethod',
       'MaxRegisterFederation', 'MaxRegisterHost', 'MaxReserveTeams',
       'MaxTeamsDispatchFederation', 'MaxTeamsDispatchHost',
       'MaxTeamsFederation', 'MaxTeamsHost', 'MaxTeamsMainDrawFederation',
       'MaxTeamsMainDrawHost', 'MinConfederationTeams', 'MinTeamsDispatchHost',
       'Name', 'NbTeamsFromQualification', 'NbTeamsMainDraw',
       'NbTeamsQualification', 'NbUploads', 'NbWildCards', 'No', 'NoEvent',
       'NoTemplateEarnedPoints', 'NoTemplatePrizeMoney', 'OrganizerCode',
       'OrganizerType', 'Parameters', 'PreliminaryInquiryMainDraw',
       'PreliminaryInquiryQualification', 'Season', 'SeedPointsBaseDate',
       'SeedPointsDayOffset', 'SeedPointsTemplateNo', 'StartDate',
       'StartDateFederationQuota', 'StartDateMainDraw',
       'StartDateQualification', 'Status', 'TechnicalEntryPointsTemplateNo',
       'TechnicalSeedPointsTemplateNo', 'Title', 'Type', 'Version', 'WebSite',
       'Draws'],
      dtype='object')

In [26]:
BeachMatches.columns

Index(['@NoInTournament', '@LocalDate', '@LocalTime', '@TeamAName',
       '@TeamBName', '@Court', '@MatchPointsA', '@MatchPointsB',
       '@PointsTeamASet1', '@PointsTeamBSet1', '@PointsTeamASet2',
       '@PointsTeamBSet2', '@PointsTeamASet3', '@PointsTeamBSet3',
       '@DurationSet1', '@DurationSet2', '@DurationSet3', '@No', '@Version'],
      dtype='object')